extends base.pug

block scripts
  script(src='/static/index.js')

block style 
  style 
    include ../static/style.css
    include ../static/styleAbout.css

block content
  div.aboutContainer
    h1 About Us 
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus nulla temporibus quidem cumque, cupiditate nisi qui, quam aperiam debitis repudiandae voluptatibus delectus laudantium?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ipsum quas ea unde suscipit ullam amet maxime numquam asperiores illo voluptatum molestias facere error aliquam expedita excepturi tenetur, deleniti accusamus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quas quaerat, non voluptatibus ipsa earum ullam inventore vitae recusandae. Fugiat ex quasi perferendis officia, illo maiores debitis sed, cum, corrupti dignissimos molestiae totam fuga natus? 