extends base.pug

block scripts
  script(src='/static/index.js')

block style 
  style 
    include ../static/style.css
    include ../static/styleAbout.css

block content
  div.servicesContainer
    h1 Our Services 
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio voluptatibus deleniti corporis doloribus cum unde, dolore veritatis. Doloribus expedita, nisi repellat illo nesciunt eveniet sequi facere dolorem modi quo enim delectus repudiandae, beatae deserunt tenetur blanditiis aperiam dolores, inventore quisquam repellendus consequatur voluptate laudantium. Eum accusamus iure harum neque necessitatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat quidem quam assumenda dolorum facere. Porro necessitatibus quos aliquam ipsum nesciunt similique veniam, dolor doloribus culpa labore delectus rerum quaerat cupiditate temporibus tempore. Veniam est, ut provident quibusdam rem qui? 